<h2>Update user number {{user?.id}}: </h2>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{user?.name}}">
  </div>
  <div>
    <label for="phone_number"></label>
    <input type="text" name="phone_number" id="phone_number" class="form-control" formControlName = "phone_number" value="{{user?.phone_number}}">
  </div>
  <br>
  <input type="submit" value="Update the user" class="btn btn-primary">
</form>